body {
background-image: url("https://lh3.googleusercontent.com/-FXevJ3EoQIc/VUj1BqK-7LI/AAAAAAABJoU/Ivq75UM44JEAbLOHea9GpKHCT2fhUHohACHM/s540/IMG_0621.JPG") ;
background-repeat:no-repeat;

}

.links {
text-align: right;
}


.navBAR {
    border: solid black 5px;
    width:200px;
    height:100px;
    background-color:white;
    margin-left: ;
    
    
}

